<!DOCTYPE html>
<html lang="{{ data.lang }}" prefix="og: https://ogp.me/ns#">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="icon" href="{{ data.root }}/static/favicon.png">
        <link rel="canonical" href="{{ data.root }}/{{ data.link }}">
        {% if data.fulllink_en %}
        <link rel="alternate" hreflang="fr" href="{{ data.fulllink_fr }}">
        <link rel="alternate" hreflang="en" href="{{ data.fulllink_en }}">
        {% endif %}

        <title>{{ data.title }}</title>

        {% block meta %}
        <meta property="og:title" content="{{ data.title }}"/>
        <meta property="og:url" content="{{ data.root }}/{{ data.link }}"/>
        <meta property="og:site_name" content="Laurent Malys"/>
        {% if data.description %}
        <meta name="description" content="{{ data.description }}"/>
        <meta property="og:description" content="{{ data.description }}"/>
        {% endif %}
        {% if data.thumbnail_link %}
        <meta name="twitter:image" content="{{ data.root }}{{ data.thumbnail_link }}"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="{{ data.root }}{{ data.thumbnail_link }}"/>
        <meta property="og:image:width" content="640"/>
        <meta property="og:image:height" content="360"/>
        {% endif %}
        {% endblock %}

        <link rel="stylesheet" href="{{ data.root }}/static/styles.css">
        <link rel="stylesheet" href="{{ data.root }}/static/assets/remixicon.css">

        {% block style %}
        {% for css in data.css %}
        <link rel="stylesheet" href="{{ css }}">
        {% endfor %}
        {% endblock style %}

        <script>
         const moum_data = {{ data|tojson|safe }};
         console.log('moum_data', moum_data);
        </script>

        {% block script %}
        <script defer src="{{ data.root }}/static/main.js"></script>
        {% for script in data.lib %} <script src="{{ script }}"></script> {% endfor %}
        {% for script in data.script %} <script defer src="{{ script }}"></script> {% endfor %}
        {% endblock script %}

        {% endblock head %}

        <!-- Matomo -->
        <script>
         var _paq = window._paq = window._paq || [];
         _paq.push(['trackPageView']);
         _paq.push(['enableLinkTracking']);
         (function() {
             var u="https://www.laurent-malys.fr/piwik/";
             _paq.push(['setTrackerUrl', u+'matomo.php']);
             _paq.push(['setSiteId', '1']);
             var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
             g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
         })();
        </script>
        <!-- End Matomo Code -->
    </head>

    <body class="mm-page-lang-{{ data.lang }} {% if data.template %}mm-page-{{ data.template }}{% endif %}" >
        <div style="display:none;">
            {{ data }}
        </div>
        <header>
            <div class="mm-site-name">
                <a href="{{ data.root }}/{% if data.lang =='en' %}en{% endif %}"> Laurent Malys </a>
            </div>
            {% if data.menu %}
            <a class="mm-menu-btn mm-btn">
                <i class="ri-menu-line mm-menu-btn-i"></i>
            </a>
            <div class="mm-menu-container">
                <nav class="mm-menu">
                    {% if data.fulllink_en %}
                    <div class="mm-separator"></div>
                    <div class="mm-lang-choose">
                        <a class="mm-lang mm-lang-fr" rel="alternate" href="{{ data.fulllink_fr }}">fr</a> | 
                        <a class="mm-lang mm-lang-en" rel="alternate" href="{{ data.fulllink_en }}">en</a>
                    </div>
                    {% endif %}
                    {% for entry in data.menu %}
                    <div class="mm-separator"></div>
                    <a class="mm-menu-entry" href="{{ data.root }}/{{ entry.link }}">
                        {{ entry.label }}
                    </a>
                    {% endfor %}
                    <div class="mm-separator"></div>
                    <div class="mm-social">
                        <a href="https://framapiaf.org/@lo">
                            <i class="ri-mastodon-fill"></i>
                        </a>
                        <a href="https://gitlab.com/losylam">
                            <i class="ri-gitlab-fill"></i>
                        </a>
                        <a href="https://instagram.com/laurent.malys">
                            <i class="ri-instagram-fill"></i>
                        </a>
                    </div>
                    <div class="mm-separator"></div>
                </nav>
            </div>
            {% endif %}
            {% block header %}{% endblock %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
