{% macro item_children(item, data) %}

<div class="mm-children-item"">

    <div class="mm-children-thumbnail">
        <!-- <a href="{{ data.root }}/{{ item.link }}"> -->
        <img src="{{ data.root }}{{ item.thumbnail_link }}" loading="lazy" ">
        <!-- </a> -->
    </div>

    <div class="mm-children-content">

        <div class="mm-children-link">
            <a href="{{ data.root }}/{{ item.link }}">
                {{ item.title }}
            </a>
        </div>

        <div class="mm-date">{{ item.local_date }}</div>
        <div class="mm-tags">
            {% for tag in item.tags %}
            <div class="mm-tag"> <a href="{{ data.root }}{{ tag.link }}">{{ tag.label }}</a></div>
            {% endfor %}
        </div>

    </div>
</div>
{% endmacro %}

{% macro item_grid(item, data) %}

<div class="mm-item" style="display: inline-block; ">
    <div class="mm-item-thumbnail">
        <img src="{{ data.root }}{{ item._thumbnail_link }}" loading="lazy" ">
    </div>
    <div class="mm-item-over">
        <a href="{{ data.root }}/{{ item.link }}">
            <div class="mm-item-link">
                <div class="mm-item-title">{{ item.title }}</div>
                {% if item.description %}
                <p> {{ item.description }} </p>
                {% endif %}
            </div>
        </a>
        <div class="mm-tags">
            {% for tag in item.tags %}
            <div class="mm-tag"> <a href="{{ data.root }}{{ tag.link }}">{{ tag.label }}</a></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}
