{% extends "post.html" %}

{% block frontmedia %}
{% filter indent(width=4) %}

<div class="mm-post-frontmedia">
    <div class="mm-front-video-container">
        <iframe class="mm-front-video" title="Harmonographe en bois - Soucoupe" width="1440" height="810" src="{{ data.video }}?loop=1&amp;autoplay=1&amp;muted=1&amp;title=0&amp;warningTitle=0&amp;controlBar=0&amp;peertubeLink=0" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
    </div>
</div>

{% endfilter %}
{% endblock %}
