{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta %}
        <meta property="og:type" content="article"/>
        {{ super() }}
{% endblock %}

{% block content %}
{% filter indent(width=12) %}

<div class="mm-post-content">
    <h1 class="mm-page-title">{{ data.title }}</h1>

    <div class="mm-meta">
        <div class="mm-date">
            {{ data.local_date }}
        </div>

        <div class="mm-tags">
            {% if data.parent %}
            <div class="mm-tag mm-tag-parent"><a href="{{ data.root }}/{{ data.parent.link }}">{{ data.parent.title }}</a></div>
            {% endif %}

            {% for tag in data.tags %}
            <div class="mm-tag"><a href="{{ data.root }}{{ tag.link }}">{{ tag.label }}</a></div>
            {% endfor %}
        </div>
    </div>

    {% block frontmedia %} {% endblock %}

    {{ content|indent(width=4) }}

    {% if data.children %}
    <div class="mm-grid-container mm-children">
        <!-- <h3> Autre contenu </h3> -->
        {% for item in data.children %}

        {% filter indent(width=8) %}
        {{ macros.item_children(item, data) }}
        {% endfilter %}

        {% endfor %}

    </div>


    {% endif %}
</div>
{% endfilter %}
{% endblock %}
