{% extends "post.html" %}

{% block script %}
{{ super() }}
        <script defer src="{{ data.root }}/static/gallery.js"></script>
{% endblock %}

{% block frontmedia %}
{% filter indent(width=4) %}

<div class="mm-post-frontmedia">
    <div class="mm-gallery">
        {% for img in data.frontmedia %}
        <div class="mm-gallery-item">
            <div class="mm-gallery-img" style="background-image: url('{{ data.root }}{{ img.src }}');"></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfilter %}
{% endblock %}
