{% extends "base.html" %}

{% block meta %}
{{ super() }}
<meta property="og:type" content="article"/>
<meta name="twitter:image" content="{{ data.root }}{{ data.thumbnail_link }}"/>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ data.root }}{{ data.thumbnail_link }}"/>
<meta property="og:image:width" content="640"/>
<meta property="og:image:height" content="360"/>
{% endblock %}

{% block content %}
{% filter indent(width=12) %}
{{ content }}
{% endfilter %}
{% endblock %}
