{% extends "list.html" %}

{% block content %}

{% if data.title %}
<h1 class="mm-page-title"> {{ data.title }} <a href="{{ data.root }}/{% if data.lang == 'en' %}en/{% endif %}">x</a> </h1>
{% endif %}

{{ super() }}

{% endblock %}

