.mm-post-frontmedia{
    background-color: #800080;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div-test{
    margin: 5px;
    border: 2px solid #ff00ff;
    width: calc(20% - 10px);
    height:calc(33% - 10px)%;
}
