*{
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    font-family: Lato, sans;
}

hr{
    border-color: #555;
    border-style: none none dashed;
}

h1{
    margin-top: 3px;
}

h3,
h2{
    font-weight: 500;
}

a{
    /* text-decoration: none; */
}

button{
    background: none;
    border: none;
}

a:hover{
    color: lightgray;
}

img{
    max-width:100%;
}

header{
    position: sticky;
    width: 100%;
    top: 0;
    /* margin-top:12px; */
    height: 3em;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    z-index: 10;
    /* background-color: red; */
}

.mm-site-name a
{
    color: white;
    text-decoration: none;
}

.mm-menu-btn{
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px;
}

header .mm-menu-btn i{
    font-size: 18pt;
}

header .mm-site-name{
    padding: 12px 15px;
    font-size: 150%;
}

main{
    position: relative;
    /* margin-top: 3em; */
    /* z-index: -1; */
}

a{
    color: #888;
}

.mm-menu-container{
    /* visibility: hidden; */
    /* display: none; */
    position: absolute;
    /* left: 0px; */
    top: 3em;
    width: 100vw;
    height: calc(100vh - 3em);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 10;
    background: rgba(0, 0, 0, 1);
}

.mm-menu-container.mm-visible{
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.mm-menu{
    width: 100%;
    height:100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mm-separator{
    width:100%;
    max-width: 400px;
    font-weight: 300;
    text-align: center;
    font-size: 100%;
    border-top: dashed 1px gray;
    height:1px;
}

.mm-menu-entry{
    color: #ddd;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 120%;
    text-decoration: none;
    font-weight: 300;
}

.mm-lang-choose{
    color: #999;
    font-size: 120%;
    padding: 15px;
}

.mm-menu-entry:hover{
    color: white;
    font-weight: 500;
    transition: all 0.5s;
}

.mm-social{
    margin: 8px;
    margin-right: 12px;
    margin-left: 12px;
}

.mm-social a{
    text-decoration: none;
    font-size: 22pt;
    color: #999;
}

.mm-lang {
    text-decoration: none;
}

.mm-page-lang-en .mm-lang-en{
    color: white;
    cursor: unset;
    pointer-events: none;
    /* font-weight: 500; */
}

.mm-page-lang-fr .mm-lang-fr{
    color: white;
    cursor: unset;
    pointer-events: none;
    /* font-weight: 500; */
}

.mm-social a:hover{
    color: white;
    transition: all 0.5s;
}


.mm-grid-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}

.mm-item{
    position: relative;
    /* border: 1px solid red; */
    margin: 0;
    width: 100%;
    flex-shrink: 2;
    aspect-ratio: 16/9;
    font-weight: 400;
}

.mm-children .mm-item{
    width: 100%;
}

.mm-item .mm-item-thumbnail img{
    display: block;
    /* filter: grayscale(0.2); */
}

.mm-item-over{
    opacity: 0;
    transition: opacity 0.3s;
}

.mm-item-over:hover{
    opacity: 100%;
    transition: opacity 0.3s;
}

.mm-item-over.mm-visible{
    opacity: 100%;
    transition: opacity 0.3s;
}

.mm-item .mm-item-title{
    top: 0;
    /* position: absolute; */
    font-size: 150%;
    margin: 12px;
    color: white;
}

.mm-item-over-info{
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-color: rgba(255, 0, 0, 0.5); */
    top: 0;
}
.mm-item-link{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

.mm-item-link p{
    color: white;
    margin-left: 12px;
    margin-right: 12px;
}

.mm-item .mm-item-thumbnail img{
    box-sizing: border-box;
    width: 100%;
    border: 0;
}

.mm-tags{
    margin-bottom:12px;
}
.mm-item .mm-tags{
    position: absolute;
    margin: 12px;
    bottom: 0px;
}


.mm-tag{
    display: inline-block;
    margin-bottom: 5px;
}


.mm-tag a{
    color: #999;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 150%;
}


.mm-post-content{
    margin: 0;
}

.mm-post-content .mm-tag a{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    background: #444;
    color: white;
    font-size: 100%;
    font-weight: 500;
}

.mm-post-content .mm-tag.mm-tag-parent a{
    background: #eee;
    color: black;
}

.mm-post-content .mm-date{
    font-weight: 300;
    font-size: 100%;
    margin-bottom: 5px;
}

.mm-post-content .mm-tag a:hover{
    background: #999;
}

.mm-tag a:hover{
    color: white;
    transition: color 0.5s;
}

.mm-post-content{
    padding: 12px;
    padding-top: 0px;
}

.mm-post-content h1{
    padding-top: 5px;
    margin-bottom: 10px;
}

.mm-page-title{
    font-weight: 300;
}

.mm-page-tag .mm-page-title{
    font-size: 100%;
    background-color: #444;
    margin-top:0;
    margin-bottom:0;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mm-page-tag .mm-page-title a{
    text-decoration: none;
}

.mm-children-item .mm-tags{
    display: inline-block;
    margin-bottom: 5px;
}

.mm-children-item{
    display: flex;
    border: 1px solid #111;
    background: #111;
    margin-top: 10px;
    /* align-items: flex-end; */
}

.mm-children .mm-date{
    font-size: 90%;
}

.mm-children-link{
    /* font-size: 120%; */
    /* font-weight: 500; */
    /* font-variant: small-caps; */
    margin-bottom: 5px;
}

.mm-children-thumbnail{
    width: 40%;
    margin-bottom: -5px;
}

.mm-children-content{
    margin-left: 10px;
    padding-top: 5px;
    width: 60%;
}


.mm-post-frontmedia{
    position: relative;
    left: -12px;
    width: 100vw;
    height: 56vw;
    margin: 0px;
    background-color: gray;
    display: flex;
    overflow: hidden;
}

.mm-front-video{
    max-height: 56vw;
    width:100%;
}

.mm-front-video-container{
    width: 100%;
}

.mm-page-gallery .mm-post-frontmedia{
    background-color: black;
}

.mm-gallery{
    flex-shrink: 2;
    width: 100%;
    height: 100%;
}

.mm-gallery-item,
.mm-gallery-img{
    width:100%;
    height:100%;
    display: block;
}

.mm-gallery-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mm-gallery-item{
    display: none;
    animation-fill-mode: forwards;
}

.mm-gallery .mm-gallery-item:first-child{
    display: block;
}

.mm-gallery-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.mm-gallery-overlay:hover{
    opacity: 1;
}

.mm-gallery-btns{
    position: absolute;
    right: 10px;
    bottom: -10px;
    display: flex;
}

button.mm-gallery-btn{
    display: block;
    font-size: 500%;
    padding: 0px;
}

/* .mm-is-touch.mm-gallery-overlay{ */
/*     transition: opacity 0.3s; */
/* } */
.mm-is-touch .mm-gallery-btns{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mm-is-touch button.mm-gallery-btn-pause{
    /* color: lightgray; */
    text-align: center;
}

.mm-is-touch button.mm-gallery-btn-pause i{
    font-size: 144pt;
}

.mm-is-touch .mm-gallery-btn-nav{
    display: none;
}

.mm-btn i{
    color: white;
    font-size: 44pt;
    width: 100%;
    height:100%;
}

.mm-btn{
    cursor: pointer;
}


@media (min-width: 480px) {
    .mm-children-thumbnail{
        width: 30%;
    }
    .mm-children-content{
        width: 70%;
        padding-top: 10px;
    }

}


@media (min-width: 768px) {
    .mm-item{
        width: 50%;
    }

    .mm-post-content{
        max-width: 640px;
    }

    .mm-menu-container{
        width: 200px;
        right: 0;
        height: auto;
        padding-bottom: 15px;
        padding-top: 5px;
    }
    .mm-menu{
        height: auto;
        align-items: flex-end;
    }
    .mm-menu-entry{
        text-align: right;
    }
    .mm-separator{
        max-width: 170px;
        margin-right: 15px;
        /* display: none */
    }
}

@media (min-width: 1280px) {
    .mm-item{
        width: 33.33%;
    }

    .mm-post-frontmedia{
        margin: 0;
        position: fixed;
        left: 640px;
        top: 3em;
        width: calc(100% - 640px);
        height: calc(100vh - 3em);
        /* display: block; */
    }

    .mm-front-video{
        max-height: unset;
        position: relative;
    }
}

@media (min-width: 1920px) {
    .mm-item{
        width: 25%;
    }
}


