
body{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans;
}

header{
    /* position: fixed; */
    width: 100%;
    position: fixed;
    top: 0;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: red; */
}

header .site-name{
    margin: 0.5em;
    font-size: 150%;
}

main{
    margin-top: 3em;
}

item{
    display: block;
    position: relative;
    top: 0px;
    color: gray;
    border: 1px solid red;
    margin: 0;
    width: 100%;
}

.item-container{
    height:400px;
}

.item .item-thumbnail{
    position: absolute;
    width: 100%;
}

.item .item-thumbnail img{
    width: 100%;
}


.item .item-content{
    position: relative;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.item .tags{
    position: absolute;
    margin: 12px;
    bottom: 0;
}

.tag{
    color: #999;
    font-variant: small-caps;
    text-decoration: none;
    font-size: 150%;
}

.item .item-title{
    position: relative;
    top: 0;
    font-weight: 500;
    font-size: 150%;
    margin: 12px;
    color: white;
    font-decoration: none;
}
