{% import "macros.html" as macros %}

{% for item in data %}
<div>
    {{ macros.item_grid(item, data) }}
    <!-- <a href="{{ item.link }}">
         {{ item.title }}
         </a> -->
</div>
{% endfor %}
